@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

.main-header {
  background: linear-gradient(#ffffff 40px,#ffe17f 40px);
  color: #000000;
}

.link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-decoration: none;
}

.button {
  display: block;
  padding: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: none;
  background-color: transparent;
  text-align: center;
}

.navigation-link {
  text-decoration: none;
  color: inherit;
}

.subcatalog-link {
  font-size: 16px;
  line-height: 18px;
}

.main-slider {
  background: linear-gradient(#ffe17f 150px, #ffffff 150px);
  position: relative;
}

.navigation-user-list {
  align-items: center;
  justify-content:space-between;
}

.tabs {
  background: linear-gradient(#ffffff 102px, #f0f0f0 102px);
  margin-bottom: 70px;
}

.on-order {
  background: #f0f0f0;
  margin-bottom: 70px;
}

.subscribe {
  background: #f0f0f0;
}

.page-footer {
  background: #444444;
  color: #ffffff;
}

.contacts-phone {
  grid-column: 3/-1;
  font-style: normal;
  color: #ffffff;;
}

.subsidiary {
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  text-decoration: none;
  color: #000000;
}

.catalog-container {
  background: #f0f0f0;
}

.subscribe-input {
  border: none;
  background-color: transparent;
}

.main-slider-meaning {
  font-size: 36px;
  margin: 0 0 12px;
}

.main-slider-characteristic {
  font-size: 16px;
}

.title {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 50px;
  line-height: 50px;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.on-order-title {
  font-size: 20px;
  line-height: 23px;
  padding: 40px;
}

.product-list-link {
  position: relative;
  display: block;
  padding-top: 193px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-decoration: none;
}

.title-small {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
  text-decoration: none;
}

.catalog-filter-group {
  border: none;
  margin-bottom: 47px;
}

.select-control {
  font: inherit;
}

.contacts-subtitle {
  font-weight: 700;
  font-size: 24px;
}

.catalog-title {
  margin: 0;
  margin-bottom: 25px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.main-container {
  flex-grow: 1;
}

.slider-pagination {
  display: flex;
  justify-content: center;
  counter-reset: slider;
  margin-bottom: 70px;
}

.pagination-active::before {
  content: counter(slider, decimal-leading-zero);
  position: absolute;
  font-weight: 700;
  font-size: 180px;
  width: 250px;
  height: 135px;
  top: 74px;
  right: 0;
  color: #ffffff;
}

.slider-item {
  display: flex;
  flex-wrap: wrap;
}

.no-active {
  display: none;
}

.page-content {
  width: 1160px;
  margin: 0 auto;
}

.slider-pagination-item {
  counter-increment: slider;
}

.slider-pagination-button {
  width: 12px;
  height: 12px;
  outline: solid 2px #000000;
  border-radius: 50%;
  padding: 0;
}

.navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 60px;
}



.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.slider-content {
  width: 545px;
  padding: 70px 0 0;
}

.main-slider-characteristics {
  display: flex;
  flex-wrap: wrap;
}

.product-sections-list {
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.product-list-link::before {
  position: absolute;
  width: 160px;
  height: 160px;
  content: "";
  background-color: #ffe17f;
  top: 0;
  left: 0;
}

.virtual-reality::before {
  background-image: url(../images/virtual-reality-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.monopods::before {
  background-image: url(../images/monopods-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.action-cameras::before {
  background-image: url(../images/action-cameras-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.fitness-bracelets::before {
  background-image: url(../images/fitness-bracelets-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.smart-watch::before {
  background-image: url(../images/smart-watch-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.quadrocopters::before {
  background-image: url(../images/quadrocopters-icon.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.product-list-item {
  width: 160px;
}



.tab-pagination {
  min-width: 280px;
  margin-right: 116px;
}

.tab-title {
  margin-top: 8px;
  margin-bottom: 34px;
}

.tabs-vrapper {
  display: flex;
  align-content: flex-start;
  padding: 64px 310px 140px 0;
}

.index-info {
  display: flex;
}

.subscribe-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding-top: 64px;
  padding-bottom: 56px;
  justify-content: space-between;
}

.subscribe-title {
  width: 520px;
  margin: 0;
}

.subscribe-discription {
  width: 560px;
}

.about {
  width: 520px;
  margin-right: 108px;
}

.contacts {
  width: 532px;
}

.footer-social-list {
  grid-column: 2/3;
  margin: auto;
  width: 150px;
  height: 40px;
  background-color: aqua;
}

.page-footer-container {
  display: grid;
  grid-template-columns: 358px 560px 242px;
  grid-row-gap: 35px;
  padding: 61px 0;
  outline: solid red;
}

.catalog-products {
  display: flex;
  padding: 25px 0 0 60px;
}

.catalog-filter {
  width: 320px;
}

.catalog-right-column {
  width: 840px;
  background-color: #ffffff;
}

.sorting-container {
  display: flex;
  justify-content: space-between;
  padding: 0 40px 25px;
  background-color: #f0f0f0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 40px;
  padding-top: 70px;
}

.catalog-button {
  width: 760px;
  margin: 0 40px 40px;
  padding: 18px;
  background-color: #ffffff;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  color: #000000;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  border: solid 3px #e5e5e5;
}

.pagination {
  background-color: #f0f0f0;
  width: 760px;
  display: flex;
  justify-content: space-between;
  margin: 0 40px 40px;
  padding: 25px;
  align-items: center;
}

.slider-title {
  position: relative;
  z-index: 1;
  margin-bottom: 29px;
}

.search-input {
  border: solid 2px #000000;
  padding: 8px 48px;
  background-color: transparent;
  border-radius: 50px 0 0 50px;
}

.search-form::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-image: url(../images/search-icon.svg);
  top: 10px;
  left: 16px;
}

.search-form {
  position: relative;
  margin-right: 27px;
}

.search-submit {
  padding: 8px;
  width: 160px;
  border: solid 2px #000000;
  border-radius: 0 50px 50px 0;
  background-color: transparent;
}

.page-header-logo {
  display: block;
  padding: 20px 60px;
}

.header-login::before {
  position: absolute;
  content: "";
  width: 13px;
  height: 12px;
  background-image: url(../images/man-icon.svg);
  top: 17px;
  left: 0;
}

.navigation-link-user {
  position: relative;
    display: block;
  padding: 8px 22px;
}

.header-login {
  width: 230px;
}

.header-compare::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 12px;
  background-image: url(../images/compare.svg);
  left: 0;
  top: 17px;
}

.header-cart::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 14px;
  background-image: url(../images/basket.svg);
  left: 0;
  top: 17px;
}



.header-navigation-list {
  margin-top: 30px;
  justify-content: space-between;
  padding: 15px 0;
  align-items: center;
}

.navigation-catalog-button {
  width: 293px;
  text-align: left;
}

.slider-button {
  width: 20px;
  height: 60px;
  background-color: transparent;
  background-image: url(../images/arrow.svg);
  border: none;
}

.slider-next {
  transform: rotate(180deg);
}

.slider-control {
  position: absolute;
  display: flex;
  width: 530px;
  justify-content:space-between;
  padding-top: 200px;
  left: 30px;
  top: 10px;
}



.slider-image {
  margin-right: 40px;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 20px;
}

.slider-characteristic {
  display: flex;
  flex-direction: column-reverse;
}

.main-slider-description {
  margin-bottom: 60px;
}



.main-slider-link {
  margin-bottom: 60px;
  width: 210px;
}



.slider-characteristic:not(:last-child) {
  margin-right: 20px;
}

.subscribe-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 810px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.breadcrumbs-list {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.inner-header {
  padding: 34px 60px;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 36px;
}





.delivery-item:not(:last-child) {
  margin-bottom: 19px;
}

.about-delivery-list {
  margin-bottom: 40px;
}

.contacts-schedule {
  margin-bottom: 40px;
}

.catalog-filter-title {
  margin-bottom: 20px;
}

.catalog-filter-item:not(:last-child) {
  margin-bottom: 17px;
}



.pagination-link {
  color: rgba(68, 68, 68, 0.3);
}



.pagination-list {
  width: 200px;
  display: flex;
  justify-content: space-between;
}

.catalog-pagination-current {
  color: inherit;
}

.pagination-next {
  color: #000000;
}



.product-card-price {
  font-weight: 400;
  line-height: 21px;
}





.tab-pagination-item:not(:last-child) {
  margin-bottom: 55px;
}



.tab-pagination-button {
  width: 160px;
}

.tab-item-delivery::after {
  position: absolute;
  content: "";
  width: 136px;
  height: 164px;
  background-image: url(../images/delivery-icon.svg);
  left: 558px;
  top: 10px;
}

.tabs-content-list {
  position: relative;
}

.footer-contacts-logo {
  grid-column: 1/-1;
}

.contacts-address {
  grid-column: 1/-1;
  grid-row: 2/3;
  display: grid;
  justify-items: end;
  grid-template-columns: 350px 560px 250px;
}

.contacts-address-text {
  grid-column: 1/2;
  color: #ffffff;
  margin: 0;
}

.htmlacademy-link {
  grid-column: 3/-1;
}

.footer-navigation {
  grid-column: 2/3;
  grid-row: 2/3;
  justify-self: center;
}

.footer-navigation-item:not(:last-child) {
  margin-right: 35px;
}
